@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

	* {
		margin: 0;
		font-family: 'Open Sans', sans-serif;
		font-weight:400;
	}
	
	strong {
		font-weight:600;
	}

	body {
		background-color: #f5f9fa;
		font-size: 12pt;
		line-height: 1.5em;
		color: #555;
	}
	
	h1, h2, h3, h4 {
		color: #555;
		line-height: 1.5em;
	}
	
	h1 {
		font-size: 2.5em;
		letter-spacing: -1.5px;
	}

	h2 {
		font-size: 2em;
		letter-spacing: -1px;	
	}

	h3 {
		font-size: 1.5em;
		letter-spacing: -0.5px;	
	}
	
	h4 {
		font-size: 1em;
	}

	header {
		margin: 0 0 1em 0;
	}

	a {
		text-decoration: none;
		color: #003399;
		border-bottom: dotted 1px;
		-moz-transition: color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out;
	}

		a:hover {
			color: #0066ff;
		}

	p, ul, ol {
		margin-bottom: 1em;
	}
	
	.container {
		margin: 0 auto;
		max-width: 1200px;	
	}

	.image {
		display: inline-block;
		border: 0;
		position: relative;
				margin: 0 0 0.5em 0;
	}

		.image img {
			display: block;
			width: 100%;
		}
		
		.image.circle img {
			border-radius: 50%;
		}
		

		
		.image.profile {
			-webkit-box-shadow: 0px 0px 25px 5px #000000;
			box-shadow: 0px 0px 25px 5px #000000;
			border-radius:300px;
			width: 100%;
		}
		/*
		.image.fullpage {
			display:none;
		}*/
			
		.image.right {
			float: right;
			margin: 0 0 2em 2em;
		}
		
		.image.right.logo {
				width:150px;
		}

	.button {
		position: relative;
		display: inline-block;
		border-radius: 0.5em;
		border: none;
		color: #fff;
		padding: 0.8em 1em 0.8em 3.5em;
		margin: 0.25em;
		background-color: #336699;
		cursor: pointer;
		-moz-transition: background-color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out;
	}

		.button:hover {
			color: #fff!important;
			background-color: #3399cc;
		}

		.button:active {
			color: #fff!important;
			background-color: #6699cc;
		}
		
	.button.resume {
		background-image: url('images/resume.png');
		background-size: contain;
		background-repeat: no-repeat;
	}
	
	.button.linkedin {
		background-image: url('images/lnkdin.png');
		background-size: contain;
		background-repeat: no-repeat;
	}
	
	.button.email {
		background-image: url('images/email.png');
		background-size: contain;
		background-repeat: no-repeat;
	}

	.button.github {
		background-image: url('images/git.png');
		background-size: contain;
		background-repeat: no-repeat;
	}
	
	.imagelist {
		width: 100%; 
		max-height: 267px; 
		overflow-x: auto;
		overflow-y:hidden;
		white-space:nowrap;
		box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.4);
		text-align:center;
	}
	
	.imagelist image {
		margin: 0 5px 0 5px;
	}
	
	.skillset {
		text-align:left;
	}
		
	.skill {
		border-radius: 0.2em;
		color: #inherit;
		padding: 0.2em 0.5em 0.2em 0.5em;
		margin: 0 0.1em 0 0.1em;
		white-space:nowrap;
		letter-spacing:-0.5px;
		line-height:275%;
		background-color: rgba(0,0,0,0.05);
		border:1px solid #555;
		box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
		text-align:left;
	}
	
	.skill strong {
		color: #333;
	}
	
	.seperator {
		border-left:1px solid #555;
		margin-left:5px;
		margin-right:8px;
	}

	#sidebar {
		font-size:1.25em;
		position: fixed;
		top: 0;
		left: 0;
		width: 280px;
		height: 100%;
		color:#999;
		background: #222;
		text-align: right;
		-webkit-box-shadow: 0 0 1em 0 #222;
		box-shadow: 0 0 1em 0 #222;
	}

	#profile {
		position: relative;
		margin: 1.75em 1.5em 1.5em 1.5em;
		text-align:center;
	}

		#profile span.name {
			letter-spacing: -1.5px;
			color: #fff;
			font-size: 1.5em;
			line-height: 1em;
		}

		#profile span.subtitle {
			display: block;
			font-size: 0.8em;
			line-height: 1.25em;
			margin: 0.5em 0 0 0;
		}

		#profile .image {
			position: relative;
			margin: 0 0 0.5em 0;
		}
		
	#lnks ul li {
		display: block;
		font-size: 1em;
		text-decoration: none;
		padding: 0.5em 1.5em 0.5em 1.5em;
		outline: 0;
		border: 0;
		-moz-transition: none;
		-webkit-transition: none;
		-ms-transition: none;
		transition: none;
	}
	
	#lnks  a {
		color:inherit;
		text-decoration: none;
		border-bottom-style:none;
		-moz-transition: color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out;
	}
	#lnks  a:hover {
		color: #fff;
	}
	
	#page {
		/*margin-left: 280px;*/
	}

		#page > section {
			margin: 0;
			overflow: hidden;
			padding: 1.5em 5em 2em 5em;
			box-shadow: inset 0 0.2em 0.4em rgba(0, 0, 0, 0.12),
						inset 0 1px 0 rgba(0, 0, 0, 0.2);
			text-align: left;
		}

			#page > section.darkbg {
				color: #fff;
				text-shadow: 0px 0px 2px rgba(0,0,0,0.3),
						     0px 0px 5px rgba(0,0,0,0.6);
			}
			
			#page > section.darkbg h1, #page > section.darkbg h2, #page > section.darkbg h3 {
				color: #fff;
				}
			
			
			#page > section.darkbg a {
				color:#fff;
			}
			#page > section.darkbg a:hover {
				color:#88bbee;
			}

			#page > section.banner:before {
				position:absolute;
				left:-10px;
			    right:-10px;
			    top:-10px;
			    bottom:-10px;
				content: ' ';
				z-index:-1;
				background-color: #000066;
				background-image: url("images/banner.jpg");
				background-size: cover;
				background-position: center center;
				-webkit-filter: blur(5px);
				-moz-filter: blur(5px);
				-o-filter: blur(5px);
				-ms-filter: blur(5px);
				filter: blur(5px);
			}

			#page > section.banner {
				position: relative;
				text-align: center;
				padding: 1em 0;
				
			}

			#page > section:nth-of-type(even) {
				background-color: #faf8f5;
			}

/*			#page > section:nth-of-type(odd) {
				background-color: #f5f9fa;
			}*/
			
/* Mobile and small screens */

	@media screen and (max-width: 1000px) {

			html, body {
				overflow-x: hidden;
				font-size: 12pt;
			}

			body, input, textarea, select {
				font-size: 12pt;
			}

			sidebar br {
				display: none;
			}

			.item {
				margin-bottom: 15px;
			}
			
			.image.fullpage {
				-webkit-box-shadow: 0px 0px 25px 0px #000000;
				box-shadow: 0px 0px 25px 0px #000000;
				border-radius:300px;
				width: 50%;
				max-width:200px;
				display:inline-block;
			}
			
			.container {
				padding: 0 2em 0 2em;
			}

			ul.dots a {
				width: 1.75em;
				font-size: 1.25em;
			}

			#sidebar {
				display: none;
			}
			
			#profile {
				margin: 1.5em 1.25em 1.25em 1.25em;
			}

			#lnks ul li a {
				padding: 0.5em 1.25em 0.5em 1.25em;
			}
			
			#page {
				padding-bottom: 1px;
				margin-left: 0;
			}

				#page > section {
					padding: 3em 0;
				}

				#page section.cover {
					padding: 4em 0;
				}

	}
